.container {
}

.videos {
  display: flex;
  position: relative;
}

.videos video {
  display: block;
  width: 100%;
}

.localMedia {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 25%;
  padding-bottom: 30px;
}

.localMedia video {
  transform: rotateY(180deg);
}

.remoteMedia {
  position: static;
}

.controls {
  position: absolute;
  bottom: 0;
}
