.container {
  min-height: 100px;
}

.container video {
  display: block;
  width: 100%;
}

.localMedia,
.remoteMedia {
  position: relative;
  background: #ddd;
  min-height: 200px;
  min-width: 200px;
  color: #bbb;
}

.localMedia video,
.remoteMedia video {
  position: relative;
  z-index: 2;
}

.localMedia {
  margin: 30px 0;
}

.localMedia video {
  transform: rotateY(180deg);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.button {
  display: inline-block;
  color: #333;
  border: 1px solid #FFF844;
  border-radius: 4px;
  background: #FFF844;
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  text-decoration: none;
}

.button:hover {
  color: #000;
  border-color: #999;
  background: #fff333;
  text-decoration: none;
}

.button:active {
  background: #fff71e;
}
