.container {
  position: relative;
  min-height: 100px;
}

.container video {
  display: block;
  width: 100%;
}

.localMedia {
  margin-top: 30px;
}

.localMedia video {
  transform: rotateY(180deg);
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.controls button {
  display: inline-block;
  color: #333;
  border: 1px solid #FFF844;
  border-radius: 4px;
  background: #FFF844;
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  text-decoration: none;
}

.controls button:hover {
  color: #000;
  border-color: #999;
  background: #fff333;
  text-decoration: none;
}

.controls button:active {
  background: #fff71e;
}
