.container {
  width: 100%;
  background-color: #FFF844;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.container footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 1em;
  font-size: 0.8em;
}

.container footer div:first-of-type {
  flex: 1;
  padding-right: 2em;
}

.container footer cite {
  white-space: nowrap;
}

@media only screen and (min-width: 1024px) {
  .container footer {
    width: 900px;
  }
}
