.container {
  display: block;
  background: #FFF844;
}

.container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .container nav {
    width: 900px;
  }
}

.logo a {
  display: block;
  margin: -0.5em 0;
  padding: 0.5em 2em;
  background: url('/images/spin.png') 0 center no-repeat;
  background-size: 1.5em 1.5em;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: underline;
}

.info {
  flex: 1;
}

.login {
  max-width: 40%;
  overflow: hidden;
}
